# SPDX-License-Identifier: LGPL-3.0-or-later
#
# Copyright (c) Radxa Computer (Shenzhen) Co., Ltd.
# Copyright (c) xzl <xiangzelong@radxa.com>
# Copyright (c) Jiali Chen <chenjiali@radxa.com>

mainmenu "radxa-linkr-debugger controller"

source "Kconfig.zephyr"

config REGULATOR_GPIO
	default y if DT_HAS_REGULATOR_GPIO_ENABLED
